@model FlavaSolutionsFinal.Models.Transaction

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Custom/AdminDash1.cshtml";
}

<h2>Details</h2>

<div>
    <h3 class="alert alert-info">Transaction Details</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activity.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.ActivityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memberAccount.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memberAccount.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType.PaymentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType.PaymentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodName.PeriodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodName.PeriodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan.PlanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan.PlanName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesTax.TaxName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesTax.TaxName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentFromdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentFromdt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentTodt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTodt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextRenwalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextRenwalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
