@model IEnumerable<FlavaSolutionsFinal.Models.Transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Custom/AdminDash1.cshtml";
}

<h3 class="alert alert-info">List transactions</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activity.ActivityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType.PaymentName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Plan.PlanName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentFromdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentTodt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextRenwalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Activity.ActivityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentType.PaymentName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Plan.PlanName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentFromdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentTodt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextRenwalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
