@model FlavaSolutionsFinal.Models.Period

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Period</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FiscalyearFromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalyearFromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalyearToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalyearToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PeriodId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
