@model IEnumerable<FlavaSolutionsFinal.Models.Period>

@{
    ViewBag.Title = "Index";
     Layout = "~/Views/Shared/Custom/AdminDash1.cshtml";
}

<h3 class="alert alert-info">List of Periods</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FiscalyearFromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiscalyearToDate)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FiscalyearFromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiscalyearToDate)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PeriodId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PeriodId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PeriodId })
        </td>
    </tr>
}

</table>
