@model FlavaSolutionsFinal.Models.Plan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Custom/AdminDash1.cshtml";
}


<div>
    <h3 class="alert alert-primary">Plan Details</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activity.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.ActivityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
