@model FlavaSolutionsFinal.Models.Activity

@{
    ViewBag.Title = "Details";
 Layout = "~/Views/Shared/Custom/AdminDash1.cshtml";}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActivityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
