
@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Edit";
     Layout = "~/Views/Shared/Custom/AdminDash1.cshtml";
}

<h4 class="alert alert-primary">Edit Role</h4>

@Html.ActionLink("List Roles", "Index") | @Html.ActionLink("Manage User Role", "ManageUsers")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div>
        Role name
    </div>
    <p>
        @Html.TextBoxFor(model => model.Name)
    </p>
    <input type="submit" value="Save" class="btn btn-primary" />
}
