@{
    ViewBag.Title = "ManageUserRoles";
    Layout = "~/Views/Shared/Custom/AdminDash1.cshtml";

}

<h3 class="alert alert-info">Manage Users And Roles</h3>
@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUsers")
<hr />

<h3 class="alert alert-success">Add Role to User</h3>

@using (Html.BeginForm("RoleAddToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.TextBox("UserName")
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>
    <input type="submit" value="Add User to this Role" class="btn btn-success" />

}
<hr />
<h3 class="alert alert-warning">Get Roles for a User</h3>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        Username : @Html.TextBox("UserName")

    </p>
    <input type="submit" class="btn btn-primary" value="Get Roles for this User" />
}


@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:yellow;">
        <h3>Roles for this user </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3 class="alert alert-danger">Delete A User from a Role</h3>

@using (Html.BeginForm("DeleteRoleForUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.TextBox("UserName")
        Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>
    <input type="submit" class="btn btn-danger" value="Delete this user from Role" />

}
